html{
    font-size:62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    color: $text-color;

    img{
        width: 100%;
    }
}

.btn :hover{
    background-color: $sub-color;
    color: white;

}